@charset "utf-8";
.btn{
    width: 150px;
    line-height: 40px;
    display: inline-block;
    background-color: #1746A6;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    color: #fff !important;
}
.btn span{
    font-size: 12px;
    padding-right: 10px;
    position: relative;
    top: -2px;
}
.-dress_pp023b .c-menu.-menu_a li a {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.-dress_pp023b .c-menu.-menu_a li a:first-line {
    font-size: 13px;
}

.-dress_pp023b .c-menu.-menu_a li {
    border-style: none;
    padding-bottom: 0px;
    line-height: 1.4em;
    width: 130px;
}

.-dress_pp023b .a-header .c-page_title {
    line-height: 0.9em;
    color: #454545;
}

.-dress_pp023b .a-billboard .c-title {
    font-size: 32px;
    letter-spacing: 1px;
    padding-bottom: 38px;
}

.-dress_pp023b .a-billboard {
    color: #ffffff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: #454545;
}

.-dress_pp023b .a-billboard .c-body {
    letter-spacing: 1px;
    padding-bottom: 42px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    color: #1746A6;
}

.-dress_pp023b .a-main .c-lead {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1746A6;
}

.-dress_pp023b .a-main .c-large_headline {
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 6px;
}

.-dress_pp023b .a-main .c-body {
    font-size: 14px;
    line-height: 28px;
}

.-dress_pp023b .a-main .c-hr {
    width: 50px;
    display: inline-block;
    border: solid 1px #1746A6;
}

.bd-webp.-dress_pp023b {
    background-color: #ffffff;
    background-image: url("../img/bg_body.webp");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    color: #454545;
}

.bd-no-webp.-dress_pp023b {
    background-color: #ffffff;
    background-image: url("../img/bg_body.png");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    color: #454545;
}

.-dress_pp023b .a-main .b-album .column {
    border: 1px solid #1746A6;
    padding-bottom: 15px;
    background-color: #ffffff;
}

.-dress_pp023b .a-main .b-album .column .c-small_headline {
    font-size: 15px;
    letter-spacing: 0em;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.-dress_pp023b .a-main .b-album .column .c-body {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.7em;
    font-size: 13px;
}

.-dress_pp023b .a-main .b-headlines .column .c-img img {
    border-radius: 200px;
    margin-bottom: 16px;
}

.-dress_pp023b .a-main .b-headlines .column .c-small_headline {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.-dress_pp023b .a-main .b-headlines .column .c-lead {
    line-height: 1.4em;
    padding-bottom: 2px;
}

.-dress_pp023b .a-header {
    background-color: #ffffff;
    border-top: 4px solid #1746A6;
}

.-dress_pp023b .a-footer {
    background-color: #ffffff;
}

.-dress_pp023b .a-footer .c-large_headline {
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 16px;
    letter-spacing: 1px;
}

.-dress_pp023b .a-footer .c-list_indent th {
    border-top-color: #1746A6;
    border-bottom-style: none;
    border-bottom-color: #1746A6;
    border-left-color: #1746A6;
    border-right-color: #1746A6;
    font-size: 12px;
    padding-left: 16px;
    line-height: 2em;
}

.-dress_pp023b .a-footer .c-list_indent th a {
    color: #ffe5fb;
}

.-dress_pp023b .a-footer .c-small_headline {
    font-size: 34px;
    line-height: 1em;
}

.-dress_pp023b .a-main a {
    color: #454545;
}

.-dress_pp023b .c-menu.-menu_b li {
    line-height: 0.75;
    color: #ffe5fb;
    border: #ffe5fb;
}

.-dress_pp023b .a-main .c-blockquote {
    font-size: 26px;
    color: #1746A6;
    font-weight: bold;
    padding-bottom: 25px;
}

.-dress_pp023b .a-main .c-list_table th {
    width: 90px;
}

.-dress_pp023b .c-blockquote::after {
    display: none;
}

.-dress_pp023b .c-blockquote::before {
    display: none;
}

.-dress_pp023b .a-main .-blog-article .c-hr {
    width: 100%;
    border-width: 1px;
    border-color: #1746A6;
}

.-dress_pp023b .b-accordion .column {
    background-color: #1746A6;
}

.-dress_pp023b.b-accordion .column {
    background-color: #1746A6;
}

.-dress_pp023b .b-accordion .b-accordion_navigation a {
    background-color: #1746A6;
    padding: 5px 10px 5px 10px;
    color: #1746A6;
}

.-dress_pp023b.b-accordion .b-accordion_navigation a {
    background-color: #1746A6;
    padding: 5px 10px 5px 10px;
    color: #1746A6;
}

.-dress_pp023b .b-accordion .b-accordion_navigation {
    background-color: transparent;
    border: 1px solid #d8d9da;
    margin-bottom: 3px;
}

.-dress_pp023b.b-accordion .b-accordion_navigation {
    background-color: transparent;
    border: 1px solid #d8d9da;
    margin-bottom: 3px;
}

.-dress_pp023b .b-accordion .b-accordion_navigation a:hover {
    background-color: #d8d9da;
}

.-dress_pp023b.b-accordion .b-accordion_navigation a:hover {
    background-color: #d8d9da;
}

.-dress_pp023b .b-accordion .b-accordion_navigation.-active {
    background-color: #1746A6;
}

.-dress_pp023b.b-accordion .b-accordion_navigation.-active {
    background-color: #1746A6;
}

.-dress_pp023b .a-footer .c-hr {
    border-color: #1746A6;
}

.-dress_pp023b .m-motion.-h li a {
    background-color: #1746A6;
    color: #ffffff;
}

.-dress_pp023b .m-motion.-h li a:hover {
    background-color: #1746A6;
    color: #454545;
}

.-dress_pp023b .m-motion.-i li a {
    background-color: #1746A6;
    border-color: #ffe5fb;
    color: #454545;
}

.-dress_pp023b .m-motion.-i li a:hover {
    background-color: #1746A6;
    color: #ffffff;
}

.-dress_pp023b .m-motion.-f li a {
    color: #1746A6;
}

.-dress_pp023b .c-menu.-v.-menu_c li a {
    background-color: #1746A6;
    color: #ffffff;
}

.-dress_pp023b .c-menu.-v.-menu_d li a {
    background-color: #1746A6;
    color: #ffffff;
}

.-dress_pp023b .c-menu.-v.-menu_d li .c-current {
    background-color: #454545;
}

.-dress_pp023b .c-menu.-menu_b li a {
    color: #454545;
}

.-dress_pp023b .c-menu.-menu_c li a {
    color: #ffffff;
    background-color: #1746A6;
}

.-dress_pp023b .c-menu.-menu_c {
    background-color: #1746A6;
}

.-dress_pp023b .c-menu.-menu_c li a:hover {
    color: #1746A6;
    background-color: #1746A6;
}

.-dress_pp023b .c-menu.-menu_d li a {
    background-color: #1746A6;
    color: #ffffff;
}

.-dress_pp023b .c-menu.-menu_d {
    background-color: #1746A6;
}

.-dress_pp023b .c-menu.-menu_d li .c-unlink {
    background-color: #1746A6;
}

.-dress_pp023b .m-motion.-g .lavalamp-object {
    background-color: rgba(158, 19, 19, 0.3);
}

.-dress_pp023b .m-motion.-j .lavalamp-object {
    border-top: 1px solid #1746A6;
}

.-dress_pp023b .c-menu.-v.-menu_d li .c-unlink {
    background-color: #1746A6;
}

.-dress_pp023b .c-menu.-menu_c li .c-current {
    background-color: #1746A6;
    color: #1746A6;
}

.-dress_pp023b .c-menu.-menu_d li .c-current {
    background-color: #1746A6;
    color: #1746A6;
}

.-dress_pp023b .b-tab .b-tab_navigation a {
    background-color: #1746A6;
}

.-dress_pp023b.b-tab .b-tab_navigation a {
    background-color: #1746A6;
}

.-dress_pp023b .c-list_news th {
    border-color: rgba(255, 229, 251, 0.5);
}

.-dress_pp023b .c-menu.-v.-menu_a li .c-unlink {
    padding-left: 0px;
}

.-dress_pp023b .a-main .b-tab .b-tab_navigation .-active a {
    color: #ffffff;
}

.-dress_pp023b .a-billboard .c-title a {
    color: #ffffff;
}

.-dress_pp023b .c-large_headline {
    color: #454545;
}

.-dress_pp023b .c-list_table th {
    border-right-style: none;
    border-bottom-color: #454545;
    border-top-color: #454545;
}

.-dress_pp023b .a-header .c-page_title a {
    color: #454545;
}

.-dress_pp023b .a-billboard .c-large_headline {
    color: #ffffff;
}

.-dress_pp023b .a-billboard a {
    color: #ffffff;
}

.-dress_pp023b .a-billboard .c-enclosure {
    border-color: #ffffff;
}

.-dress_pp023b .a-billboard .b-accordion .b-accordion_navigation a {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.14);
}

.-dress_pp023b .a-billboard .b-accordion .column {
    background-color: rgba(74, 199, 137, 0);
}

.-dress_pp023b .b-accordion .c-body a {
    color: #ffe5fb;
}

.-dress_pp023b.b-accordion .c-body a {
    color: #ffe5fb;
}

.-dress_pp023b .b-tab .b-tab_navigation li a {
    color: #454545;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.-dress_pp023b.b-tab .b-tab_navigation li a {
    color: #454545;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.-dress_pp023b a {
    color: #1746A6;
}

.-dress_pp023b .a-main .c-lead a {
    color: #1746A6;
}

.-dress_pp023b .a-main .c-blockquote a {
    color: #1746A6;
}

.-dress_pp023b .a-billboard .c-menu.-menu_a li a {
    color: #ffffff;
}

.-dress_pp023b .a-billboard .c-menu.-menu_a li a:hover {
    color: #ffffff;
}

.-dress_pp023b .a-billboard .c-menu.-menu_a li a:first-line {
    color: #ffffff;
}

.-dress_pp023b .a-billboard .c-menu.-menu_b li a {
    color: #ffffff;
}

.-dress_pp023b .a-billboard .m-motion.-f li a {
    color: #ffffff;
}

.-dress_pp023b .a-billboard .m-motion.-f li .c-unlink {
    color: #ffffff;
}

.-dress_pp023b .a-billboard .m-motion.-g li a {
    color: #ffffff;
}

.-dress_pp023b .a-billboard .m-motion.-j li a {
    color: #ffffff;
}

.-dress_pp023b .a-billboard .c-menu.-menu_c li a {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.-dress_pp023b .a-billboard .c-menu.-menu_d li a {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.-dress_pp023b .a-billboard .c-menu.-menu_e li a {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.-dress_pp023b .c-menu.-v.-menu_a li {
    padding-top: 5px;
    width: 100%;
}

.-dress_pp023b .c-menu.-v.-menu_a {
    border-style: none;
}

.-dress_pp023b .a-billboard .c-menu.-menu_e li {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.-dress_pp023b .m-motion.-f {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    z-index: auto;
}

.-dress_pp023b .a-billboard .m-motion.-f li ul li a {
    color: #454545;
}

.-dress_pp023b .a-billboard .m-motion.-f li ul li .c-unlink {
    color: #454545;
}

.-dress_pp023b .c-list_table {
    border-bottom-color: #454545;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.-dress_pp023b .c-menu.-menu_a li .c-unlink {
    font-size: 10px;
}

.-dress_pp023b .b-tab .b-tab_navigation .-active a {
    background-color: #1746A6;
    color: #ffffff;
}

.-dress_pp023b.b-tab .b-tab_navigation .-active a {
    background-color: #1746A6;
    color: #ffffff;
}

.-dress_pp023b .m-motion.-f li ul li a {
    color: #333333;
    background-color: #1746A6;
}

.-dress_pp023b .c-enclosure {
    border-color: #454545;
}

.-dress_pp023b .c-hr {
    border-color: rgba(255, 229, 251, 0.3);
}

.-dress_pp023b .c-list_news td {
    border-color: rgba(255, 229, 251, 0.5);
}

.-dress_pp023b .c-list_news {
    border-color: rgba(255, 229, 251, 0.5);
}

.-dress_pp023b .c-blog-new {
    background-color: #1746A6;
    color: #1746A6;
}

.-dress_pp023b .c-menu.-menu_e li a {
    color: #454545;
}

.-dress_pp023b .m-motion.-g li a {
    color: #454545;
}

.-dress_pp023b .m-motion.-j li a {
    color: #454545;
}

.-dress_pp023b .m-motion.-f li ul li a:hover {
    background-color: #ffe5fb;
    color: #ffffff;
}

.-dress_pp023b .m-motion.-f li ul li .c-unlink {
    background-color: #1746A6;
}

.-dress_pp023b .m-motion.-f li ul li::before {
    border-bottom-color: #1746A6;
}

.-dress_pp023b .c-menu.-menu_a .c-unlink:first-line {
    font-size: 13px;
}

.-dress_pp023b .c-list_table td {
    border-top-color: #454545;
    border-bottom-color: #454545;
}

.-dress_pp023b .c-blog-tag a {
    background-color: #454545;
    color: #ffffff;
    padding: 0.3em 0.75em 0.3em 0.7em;
}

.-dress_pp023b .c-blog-pagination a.c-blog-pagination-link {
    border-radius: 0px;
}

.-dress_pp023b .c-blog-pagination a.c-blog-pagination-link.-current {
    background-color: #1746A6;
    color: #ffffff;
    border-radius: 0px;
}

.-dress_pp023b .bg-window {
    background-color: #1747a628;
}

@media only screen and (max-width: 641px) {
    .-dress_pp023b .a-billboard .c-title {
        font-size: 19px;
        line-height: 1.65em;
        padding-bottom: 31px;
    }

    .-dress_pp023b .a-billboard .c-body {
        font-size: 12px;
        padding-bottom: 35px;
    }

    .-dress_pp023b .a-main .c-body {
        font-size: 12px;
    }

    .-dress_pp023b .a-main .b-album .column .c-body {
        font-size: 12px;
    }

    .-dress_pp023b .a-main .b-album .column .c-small_headline {
        font-size: 13px;
    }

    .-dress_pp023b .a-main .c-lead {
        font-size: 10px;
    }

    .-dress_pp023b .a-main .c-large_headline {
        font-size: 15px;
    }

    .-dress_pp023b .a-footer .c-body {
        font-size: 12px;
    }

    .-dress_pp023b .a-footer .c-large_headline {
        font-size: 13px;
        padding-bottom: 7px;
    }

    .-dress_pp023b .a-footer .c-small_headline {
        font-size: 26px;
    }

    .-dress_pp023b .a-footer .c-title {
        line-height: 1em;
    }

    .-dress_pp023b .a-footer .c-list_indent th {
        padding-top: 0px;
        padding-left: 8px;
        font-size: 11px;
    }

    .-dress_pp023b .a-main .c-list_table th {
        width: 100%;
    }

    .-dress_pp023b .a-main .c-list_table td {
        border-top-style: none;
    }

    .-dress_pp023b .c-list_news th {
        border-bottom-style: none;
    }

    .-dress_pp023b .c-list_table th {
        border-bottom-style: none;
    }
}

@media print,
screen and (max-width: 768px) {
    .-dress_pp023b #spNavigationTrigger .c-sp-navigation_line {
        border-style: none;
    }

    .-dress_pp023b #spNavigationTrigger {
        background-color: #fff;
        border-top: 14px solid #1746A6;
        border-bottom: 20px solid #1746A6;
        border-left: 10px solid #1746A6;
        border-right: 10px solid #1746A6;
    }

    .-dress_pp023b #spNavigationTrigger::before {
        border-bottom: 4px solid #1746A6;
        display: block;
        content: "";
        position: relative;
        top: 2px;
    }

    .-dress_pp023b #spNavigationTrigger::after {
        color: #fff;
        font-size: 10px;
        border-top: 4px solid #1746A6;
        display: block;
        width: 35px;
        content: "MENU";
        position: relative;
        top: 4px;
    }

    .-dress_pp023b #js-globalNavigation {
        background-color: rgba(255, 255, 255, 0.9);
        height: 100%;
    }

    .-dress_pp023b#js-globalNavigation {
        background-color: rgba(255, 255, 255, 0.9);
        height: 100%;
    }

    .-dress_pp023b .c-menu.-menu_a li a {
        float: none;
        width: 100%;
        font-size: 13px;
    }

    .-dress_pp023b .c-menu.-menu_a li {
        width: 100%;
        padding: 10px 20px;
    }

    .-dress_pp023b .a-main .c-menu.-menu_b li {
        width: 50%;
        float: left;
    }

    .-dress_pp023b .m-motion.-h li {
        border-style: none;
    }

    .-dress_pp023b .m-motion.-f li {
        border-color: #1746A6;
    }

    .-dress_pp023b .c-menu.-v.-menu_a li a {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .-dress_pp023b .c-menu.-v.-menu_a li {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 2;
        border-style: none;
    }

    .-dress_pp023b .c-menu.-v.-menu_a li ul li a {
        border-style: none;
    }

    .-dress_pp023b .c-menu.-v.-menu_a li ul li .c-current {
        padding-bottom: 0px;
    }

    .-dress_pp023b .c-menu.-v.-menu_a li ul li .c-unlink {
        border-top-style: none;
        padding-bottom: 5px;
    }

    .-dress_pp023b .a-billboard .c-menu.-menu_e li a {
        color: #ffffff;
    }

    .-dress_pp023b .a-billboard .c-menu.-menu_e li a:hover {
        color: #454545;
    }

    .-dress_pp023b .m-motion.-f li ul li a {
        background-color: rgba(245, 158, 188, 0);
    }

    .-dress_pp023b .m-motion.-f li ul li .c-unlink {
        background-color: rgba(245, 158, 188, 0);
    }

    .-dress_pp023b .a-billboard .m-motion.-f .c-current {
        color: #ffffff;
    }

    .-dress_pp023b .a-billboard .m-motion.-f li a {
        color: #ffffff;
    }

    .-dress_pp023b .a-billboard .m-motion.-f li ul li a {
        color: #ffffff;
    }

    .-dress_pp023b #js-globalNavigation .c-menu .c-sp-closer a {
        font-size: 15px;
        color: #000000;
    }

    .-dress_pp023b#js-globalNavigation .c-menu .c-sp-closer a {
        font-size: 15px;
        color: #000000;
    }

    .-dress_pp023b .c-menu.-menu_a li .c-unlink {
        padding: 0px;
    }

    .-dress_pp023b #js-globalNavigation .c-menu.-menu_a li {
        padding-bottom: 35px;
    }

    .-dress_pp023b#js-globalNavigation .c-menu.-menu_a li {
        padding-bottom: 35px;
    }
}

/* created version 9.00*/